/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace fc "http://ns.adobe.com/flashcatalyst/2009";
.InputText3,
.InputText2,
.InputText,
.view
{
	border-Color:#6DB669;
}
.InputText
{
	fontFamily: verdana;
	fontSize: 18;
	border-Style:solid;
}
.InputText2
{
	fontFamily: verdana;
	fontSize: 14;
	border-Style:solid;
}
.InputText3
{
	fontFamily: verdana;
	fontSize: 14;
	border-Style:solid;
}
.view
{
	border-Style:solid;
}